<div class="heading">
    <h2 class="m-3">From Event</h2>
</div>
<div class="container">
<div class="card">
    <div class="heading">Add Video</div>
    
    <div class="btn-" #btnClick><button class="btn btn-primary">Click</button></div>
</div>

<div class="card1">
    <div class="heading">List</div>
    
    <div class="btn-">
       <ul id="element">
        
       </ul>
    </div>
</div>
<div class="card1">
    <div class="heading">List</div>
    
    <div class="btn-">
       <ul id="element1">
        
       </ul>
    </div>
</div>
</div>