<div class="m-3">
    <div class="promise">
        <h4>Promise</h4>
        <p>1. async <br> 2. Return Single Value <br> <strong class="mx-3">- Resolve</strong> <br> <strong class="mx-3">- Reject</strong></p>
   </div>
   <div class="mx-5">
    <h4>Observable</h4>
    <p>1. async or sync <br> 2. Return Stream of Values <br> <strong class="mx-3">0----0------0</strong></p>
    </div>
</div>
<hr>
<h1 class="m-5">Observables</h1>

<div class="card">
    <a routerLink="/from-event"><button class="btn btn-primary" >From Event </button></a>
    <button routerLink="/observable/interval" class="btn btn-primary">Interval & Timer</button>
    <button class="btn btn-primary" routerLink="/observable/of-from">Of & From</button>
    <button class="btn btn-primary">Event 4</button>
    <button class="btn btn-primary">Event 1</button>
    <button class="btn btn-primary">Event 2</button>
    <button class="btn btn-primary">Event 3</button>
    <button class="btn btn-primary">Event 4</button>
</div>
