
<div class="row">
    
    <div class="col-md-3">
        <div><h2 class="m-3">Interval(1000)</h2></div>
        <div class="card m-3 "> 
            <div class="card-header">User1</div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="m-3"><h2 >Timer(5000, 1000)</h2></div>
        <div class="card m-3 "> 
            <div class="card-header">User2</div>
            <div class="card-body">
                <ul id="elContainer1"></ul>
            </div>
        </div>
    </div>
</div>
