<div class="m-3">
    <div class="promise">
        <h4>Promise</h4>
        <p>1. async <br> 2. Return Single Value <br> <strong class="mx-3">- Resolve</strong> <br> <strong class="mx-3">- Reject</strong></p>
   </div>
   <div class="mx-5">
    <h4>Observable</h4>
    <p>1. async or sync <br> 2. Return Stream of Values <br> <strong class="mx-3">0----0------0</strong></p>
    </div>
</div>
<hr>
<div class="m-4">
      <h4>Promise</h4>
      <br>
      <h5>Which is mobile available?</h5>
      <!-- <div ><button class="btn" (click)="vivoAvailable()">Vivo</button>
        <button class="btn" >Mi</button><button class="btn" >Not Available</button></div> -->
      <br>
      <h6>Answer: {{mobIsAvailable}}</h6>

      <!-- <button class="btn" (click)="onClick()">click me</button> -->
</div>
